<script>

</script>
<div id="isa_error" class="isa_error" style="display:none">
    <i class="fa fa-times-circle">
        <span id="error_msg_text" style="border-width: medium"></span>
    </i>
</div>
<div class="caption">Employee Details</div>
<div class="table">

    <div class="tbody">
        <div ng-repeat="userData in userArray track by $index">
            <div class="th">
                <div class="td" style="width: 5%">Nr.</div>
                <div class="td fa fa-sort" ng-click="sortByUserName()">Username</div>
                <div class="td">Personal Code</div>
                <div class="td">Email</div>
                <div class="td">Address</div>
                <div class="td">Favourite Book</div>
                <div class="td" style="width: 3%"></div>
                <div class="td" style="width: 3%"></div>
            </div>
            <div class="tr" id="tr_{{userData.id}}">
                <input id="state_{{userData.id}}" type="hidden" value="VIEW" readonly />
                <div class="td"  style="width: 5%">{{$index + 1}}
                <span class="fa fa-book" ng-click="showHide(userData.username)" ></span>
                </div>
                <div id="username_{{userData.id}}" class="td" contenteditable="false">{{userData.username}}

                </div>
                <div id="personalCode_{{userData.id}}" contenteditable="false" class="td">{{userData.personalCode}}</div>
                <div id="email_{{userData.id}}" contenteditable="false" class="td">{{userData.email}}</div>
                <div id="address_{{userData.id}}" contenteditable="false" class="td">{{userData.address}}</div>
                <div id="favoriteBook_{{userData.id}}" contenteditable="false" class="td">{{userData.favoriteBook}}</div>
                <div id="delete_{{userData.id}}" contenteditable="false" class="td" style="width: 3%">
                    <span id="span_delete_{{userData.id}}" class="fa fa-trash" ng-click="deleteUser(userData.id, userData.username)"></span></div>
                <div id="edit_{{userData.id}}" contenteditable="false" class="td" style="width: 3%">
                    <span id="span_edit_{{userData.id}}" class="fa fa-edit" ng-click="editUser(userData.id)"></span></div>
            </div>
            <div id="{{userData.username}}" style="display: none">
                <div class="th" style="background-color: #8a97a0">
                    <div class="td" style="width: 3%">Nr.</div>
                    <div class="td">Name</div>
                    <div class="td">Author</div>
                    <div class="td">Year</div>
                    <div class="td"></div>
                    <div class="td"></div>
                    <div class="td" style="width: 3%"></div>
                    <div class="td" style="width: 3%"></div>
                </div>
                <div class="tr" ng-repeat="userBook in userData.bookDTOSet track by $index">
                    <div class="td" style="width: 3%">{{$index + 1}}</div>
                    <div class="td">{{userBook.name}}</div>
                    <div class="td">{{userBook.author}}</div>
                    <div class="td">{{userBook.year}}</div>
                    <div class="td"></div>
                    <div class="td"></div>
                    <div class="td" style="width: 3%"><span class="fa fa-trash"
                                                            ng-click="deleteBook(userBook.id,
                                                            userBook.name)"></span>

                    </div>

                    <div class="td" style="width: 3%"><span class="fa fa-edit"></span>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
