/* app css stylesheet */
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
  margin-botom: 10px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}


.isa_info, .isa_success, .isa_warning, .isa_error {
  margin: 10px 0px;
  padding:12px;
  font-size: 10px;
}
.isa_info {
  color: #00529B;
  background-color: #BDE5F8;
}
.isa_success {
  color: #4F8A10;
  background-color: #DFF2BF;
}
.isa_warning {
  color: #9F6000;
  background-color: #FEEFB3;
}
.isa_error {
  color: #D8000C;
  background-color: #FFD2D2;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
  margin:10px 22px;
  font-size:2em;
  vertical-align:middle;
}
